@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .debug {
        border: 1px solid red;
    }
}

/*
Branco: #FFFFFF
Preto: #000000
Preto Claro: #33312D
Cinza: #D9D9D9
Cinza Claro: #EEEEEE
Cinza Escuro: #575757

Dourado Logo: #FEC92B
Dourado Claro: #FABD14
Dourado Escuro: #CFA633
Dourado Escuro Fraco: #7A6D47

Verde: #28C900
Vermelho: #C90000
*/
